.portfolio-container {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 120vh;
  /* Increase minimum height to make the section longer */
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.portfolio-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.portfolio-description {
  margin-bottom: 6px;
  font-size: 16px;
  color: #333;
}

.portfolio-software {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.portfolio-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.portfolio-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.portfolio-subtitle {
  font-size: 24px;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
}

.portfolio-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* 2 cards per row on large screens */
  gap: 30px;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-details {
  display: flex;
  flex-direction: column;
}

.portfolio-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.portfolio-image img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  /* Cube shape with slight rounding */
}

@media (max-width: 768px) {
  .portfolio-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .portfolio-buttons {
    justify-content: center;
  }
}

.carousel .slide img {
  width: 100%;
  max-height: 500px; 
  object-fit: scale-down;
}

.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
  background: none;
  border: none;
  font-size: 2em;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .control-prev.control-arrow {
  left: 10px; /* Adjust to position the arrow closer to the image */
}

.carousel .control-next.control-arrow {
  right: 10px; /* Adjust to position the arrow closer to the image */
}

.carousel .control-prev.control-arrow::before,
.carousel .control-next.control-arrow::before {
  content: '';
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
}

.carousel .control-prev.control-arrow::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel .control-next.control-arrow::before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.presentation-button {
  background-color: #ffcc00;
  color: black;
  border: none;
  padding: 7px 15px;
  font-size: 13px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.presentation-button:hover {
  background-color: #cc9900;
}

.project-button {
  background-color: #78a3dc;
  color: black;
  border: none;
  padding: 7px 15px;
  font-size: 10;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #396fb5;
}