.footer {
    background-color: #78a3dc;
    /* Match the background color with your theme */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}