#typed-message {
  overflow: hidden; 
  white-space: nowrap; 
  font-family: Avenir, sans-serif; 
  font-size: 35px; 
}

/* for blinking effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cursor {
  border-right: 0.15em solid #78a3dc; 
  animation: blink 1s step-end infinite;
}

.bold {
  font-weight: bold;
}
