#typed-message {
  overflow: hidden;
  white-space: nowrap;
  font-family: inherit;
  margin-top: 40px;
}

/* for blinking effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cursor {
  border-right: 0.12em solid var(--accent);
  animation: blink 1s step-end infinite;
}

.bold {
  font-weight: bold;
}
